.movie-image {
  height: 200px;
  width: 400px;
}

.movie-text {
  height: calc(100vh - 75px);
  background-repeat: no-repeat;
  background-size: cover;
}

.recommend-btn{
    top: calc(100vh-610px);
    right: 15%;
    position: absolute;
    border: none;
    margin-top: 2px;
}

.like-btn {
    top: calc(100vh-610px);;
    left: 15%;
    position: absolute;
    border: none;
    margin-top: 2px;
}