.movie-image {
  height: 200px;
  width: 400px;
}

.movie-text {
  height: calc(100vh - 50px);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-group {
  position: relative;
.recommend-btn{
    right: 15%;
    position: absolute;
    border: none;
    margin-top: 2px;
}

.like-btn {
    left: 15%;
    position: absolute;
    border: none;
    margin-top: 2px;
}
}
