.search-bar{
    height: 520px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://www.wallpaperup.com/uploads/wallpapers/2015/12/12/859126/5b431ce5733d1553d3b7bf0efc11412e-700.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.search-input {
    height: 6vh;
}